@model Project3.Models.Orders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RowID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RowID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShipDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShipDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShipMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShipMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Market)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Market)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sales)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sales)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderPriority)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>